{% extends 'mailing/base.html'%}
{% block content %}
<section class="text-center">
    <div class="container">
        <h1>В данный момент на сайте</h1>
    </div>
</section>
<br>
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p class="h5 card-text">Клиентов: {{ active_clients }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}